@using EveryDay.BuhHelper.Console.Models
@model Web.Models.CommandViewModel
@{
    ViewBag.Title = "Index";

    var listItems = new List<SelectListItem>();

    listItems.AddRange(
        Model.Commands.Select(
            c => new SelectListItem() { Text = c.Name, Value = c.Name }
        )
    );
}

<h2>Команды</h2>

@Html.DropDownList("command", listItems)

@Html.TextBox("args")

<input type="button" onclick="exec();" value="выполнить ajax" />
<hr />

<div id="divResult">
    @if (Model.Result != null)
    {
        @Html.Partial("Exec", Model.Result)
    }
</div>

<script>
    function exec() {
        // получаем команду
        var command = document.getElementById("command").value;
        // получаем аргументы
        var args = document.getElementById("args").value;

        $.ajax({
            // формируем запрос
            url: '/Command/Exec/' + command + '/' + args,
            success: function (result) {
                // запись контента в определенный элемент
                document.getElementById("divResult").innerHTML = result;
            }
        });

    }


</script>
